body {
    margin: 0px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

p {
    font-family: arial;
    font-size: 30px;
}